div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

#dd1{
    background-image: url(image.png);
    background-position: center;
    background-size: cover;
    border: solid black 5px;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


p{
    font-size: larger;
    font-style: italic;
    text-decoration: underline;
    color: white;
    background-color: #30422180 
}