table, th, td{
    border: 1px  solid rgb(36, 192, 127);
    border-collapse: collapse;
    text-align: center;
    width: 25%;
}

#table1 tr:nth-child(1){
    background-color: rgb(36, 192, 127);
    color: white;
}

#table1 tr:nth-child(3){
    background-color: rgb(221, 206, 206);
    color: rgb(36, 192, 127);
}