#div1{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 255, 85);
}

#div2{
    color: rgb(78, 221, 21);
    background-color: rgb(205, 236, 27);
}

#div3{
    color: rgb(253, 170, 170);
    background-color: rgb(112, 0, 75);
}

#div4{
    color: rgb(0, 225, 255);
    background-color: rgb(29, 34, 5);
}

#div5{
    color: rgb(134, 0, 243);
    background-color: rgb(0, 0, 0);
}
