body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
}

.divs{
    width: 200px;
    height: 200px;
    animation:bg-and-deg-change 2s ease 3;
    opacity: 0;
    
}

@keyframes bg-and-deg-change{
    to{
        opacity:1;
    }
}

#div1{
    background-color: red;
    animation-delay: 1s;
}

#div2{
    background-color: blue;
    animation-delay: 3s;
}

#div3{
    background-color: green;
    animation-delay: 5s;
}