#div1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

.items {
    border: 5px black solid;
    padding: 60px;
    background-color: chartreuse;
    color: white;
    flex-grow: 1;
    text-align: center;
}
