#dd1{
    background-color: rgb(0, 255, 255);
}

#dd2{
    background-color: rgb(5, 129, 46);
}
#dd3{
    background-color: rgb(228, 194, 5)
}
#dd4{
    background-color: rgb(255, 0, 119);
}
#dd5{
    background-color: rgb(148, 255, 98);
}
#dd6{
    background-color: #ff0000;
}
#dd7{
    background-color: #ff0077;
}
#dd8{
    background-color: #66ff00;
}
#dd9{
    background-color: #ffa908;
}
#dd10{
    background-color: #ffffff;
}