#dd1{
    background-color:#f326e2;
    width: 100px;
    height: 100px;
}

#dd2{
    background-color:#f52727 ;
    width: 200px;
    height: 200px;
}
#dd3{
    background-color:#520a34 ;
    width: 300px;
    height: 300px;
}
#dd4{
    background-color:#1721acff;
    width: 400px;
    height: 400px;
}
#dd5{
    background-color:#07b4f8;
    width: 500px;
    height: 500px;
}
#dd6{
    background-color: #ff0000;
    width: 600px;
    height: 600px;
}
#dd7{
    background-color: #ff0077;
    width: 700px;
    height: 700px;
}
#dd8{
    background-color: #66ff00;
    width: 800px;
    height: 800px;
}
#dd9{
    background-color: #ffa908;
    width: 900px;
    height: 900px;
}

#dd10{
    background-color: #ffffff;
    width: 1000px;
    height: 1000px;
}